<template>
  <div class="home">
    <GameCardForm msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import GameCardForm from "@/components/GameCardForm.vue";

export default {
  name: "create-game-card",
  components: {
    GameCardForm: GameCardForm
  }
};
</script>
