<template>
  <div class="about">
    <div class="container is-fluid">
      <GameCardGrid></GameCardGrid>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import GameCardGrid from "@/components/GameCardGrid.vue";

export default {
  name: "games",
  components: {
    GameCardGrid
  }
};
</script>
