<template>
  <div class="columns is-multiline is-mobile">
    <GameCard
      v-for="(game, index) in games"
      :key="index"
      :value="game.title"
      :title="game.title"
      :description="game.description"
      :releaseDate="game.release_date"
      :system="game.system"
      :id="game.id"
    ></GameCard>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import GameCard from "@/components/GameCard.vue";

const axios = require("axios").default;
import { AxiosResponse } from "axios";
import GameTitles from "@/components/models/GameTitles";
import GameTitle from "@/components/models/GameTitle";

@Component({
  components: {
    GameCard
  }
})
export default class GameCardGrid extends Vue {
  private games: GameTitle[] = new Array();

  getGames() {
    axios
      .get("http://localhost:8081/games")
      .then((response: AxiosResponse<GameTitles>) => {
        console.log(response);
        this.games = response.data.games;
      });
  }

  mounted() {
    this.getGames();
  }
}
</script>
