<template>
  <div class="hello">
    <Notification :state="notification_state"></Notification>
    <section class="section">
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input
            v-model="title"
            class="input"
            type="text"
            placeholder="Enter Game Name"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Release Date</label>
        <div class="control">
          <input
            v-model="release_date"
            class="input"
            type="date"
            placeholder="mm/dd/yyyy"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">System</label>
        <div class="control">
          <div class="select">
            <select v-model="selected_system">
              <option
                v-for="(gameSystem, index) in gameSystems"
                :key="index"
                :value="gameSystem.name"
              >
                {{ gameSystem.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Genre</label>
        <div class="control">
          <div class="select">
            <select v-model="selected_genre">
              <option
                v-for="(currentGenre, index) in genre"
                :key="index"
                :value="currentGenre.name"
              >
                {{ currentGenre.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea
            v-model="description"
            class="textarea"
            placeholder="Enter a little info. about this game"
          ></textarea>
        </div>
      </div>

      <!--      <button class="button is-small">➕</button>-->

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">🎥 Trailer URL</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input
                v-model="trailer_url"
                class="input"
                type="email"
                placeholder="Add a trailer"
              />
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">🎥 Trailer Description</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input
                v-model="trailer_description"
                class="input"
                type="email"
                placeholder="Describe the Trailer"
              />
            </p>
          </div>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" @click="submit()">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link" @click="cancel()">Cancel</button>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

const axios = require("axios").default;
import { AxiosResponse } from "axios";
import router from "@/router";
import GameTitle from "@/components/models/GameTitle";
import Notification from "@/components/Notification.vue";

import GameTitleClient from "@/components/clients/GameTitleClient";
import GameSystem from "@/components/models/GameSystem";
import Genre from "@/components/models/Genre";
import NotificationState from "@/components/models/NotificationState";

@Component({
  components: { Notification }
})
export default class GameCardForm extends Vue {
  private title: string = "";
  private selected_system: string = "";
  private selected_genre: string = "";
  private release_date: string = "";

  private platform: string = "";
  private description: string = "";

  // move this to nested object
  private trailer_url: string = "";
  private trailer_description: string = "";

  private gameSystems: GameSystem[] = new Array();
  private genre: Genre[] = new Array();

  private notification_state: NotificationState = new NotificationState(
    "info",
    "",
    false
  );

  id(): number | null {
    let id: number = Number.parseInt(this.$route.params.id);
    if (id != undefined && id > 0) {
      return id;
    } else {
      return null;
    }
  }

  mounted() {
    let id: number | null = this.id();

    if (id != undefined && id > 0) {
      GameTitleClient.get(id).then((response: AxiosResponse<GameTitle>) => {
        let game = response.data;
        this.title = game.title;
        this.description = game.description;
        this.release_date = game.release_date;
        this.selected_genre = game.genre;
        this.selected_system = game.system;
      });
    }

    GameTitleClient.systems().then(
      (response: AxiosResponse<GameSystem[]>) =>
        (this.gameSystems = response.data)
    );

    GameTitleClient.genre().then(
      (response: AxiosResponse<Genre[]>) => (this.genre = response.data)
    );
  }

  submit() {
    // TODO hook this into api contract
    let metadata = {
      trailers: [
        {
          url: this.trailer_url,
          description: this.trailer_description
        }
      ],
      version: 0
    };

    let id = this.id();
    let game = new GameTitle(
      id,
      this.title,
      this.description,
      this.release_date,
      this.selected_genre,
      this.selected_system
    );
    if (id == null) {
      GameTitleClient.create(game).then((result: AxiosResponse<Object>) =>
        router.push("/games")
      );
    } else {
      GameTitleClient.update(game).then((result: AxiosResponse<Object>) => {
        // see: https://bulma.io/documentation/elements/notification/ should refactor
        // this to be hide this implementation detail away from component
        this.notification_state.mode = "info";
        this.notification_state.message = `Updated ${game.title}`;
        this.notification_state.displayed = true;
      });
    }
  }

  cancel() {
    router.push("/games");
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
