<template>
  <div class="column is-one-quarter">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img
              src="https://bulma.io/images/placeholders/128x128.png"
              alt="Image"
            />
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ title }} </strong>
              <small v-if="system != undefined && system == 'Nintendo Switch'">
                <!--              https://iconify.design/icon-sets/fa-brands/nintendo-switch.html-->
                <img
                  src="img/icons/nintendo-switch.svg"
                  alt="Nintendo Switch"
                />
              </small>
              <small v-else>
                {{ system }}
              </small>
              <span class="icon" @click="navigateToGame()">
                <i class="fas fa-edit"></i>
              </span>
              <small class="tag"> {{ releaseDate }}</small>
              <br />
              <span v-if="description != undefined && description.length > 75">
                {{ description.substring(0, 75) }} ...
              </span>
              <span v-else>
                {{ description }}
              </span>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from "@/router";

@Component
export default class GameCard extends Vue {
  @Prop() private title!: string;
  @Prop() private description!: string;
  @Prop() private system!: string;
  @Prop() private releaseDate!: string;
  @Prop() private id!: string;

  navigateToGame() {
    router.push({
      path: "/games/" + this.id,
      params: {
        id: this.id
      }
    });
  }
}
</script>
