<template>
  <div
    :class="`notification is-${this.state.mode}`"
    v-if="this.state.displayed"
  >
    <button class="delete is-link" v-on:click="close"></button>
    {{ this.state.message }}
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import NotificationState from "@/components/models/NotificationState";

@Component
export default class Notification extends Vue {
  @Prop() state!: NotificationState;

  close() {
    this.state.displayed = false;
  }
}
</script>
